Options -MultiViews
RewriteEngine On
RewriteBase /

# Force Apache to ignore rewriting for actual existing files or folders
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirect all other routing requests to index.html
RewriteRule ^ index.html [L]