@import "tailwindcss";

@theme {
  --animate-fade-in-out: fade-in-out 3s ease-in-out forwards;

  @keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; } 
    80% { opacity: 1; } 
    100% { opacity: 0; }
  }

  --color-straightforward: #ffca3a;
  --color-medium: #8ac926;
  --color-hard: #1982c4;
  --color-trick: #6a4c93;

  --color-barBG: #fed9b7;
  --color-barBGbg: #fdfcdc;
  --color-barSP: #f07167;
}

body {
  background-image: url(/fourwordconnectbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}