@import "tailwindcss";

@theme {
  --animate-fade-in-out: fade-in-out 3s ease-in-out forwards;

  @keyframes fade-in-out {
    0% { opacity: 0; }
    20% { opacity: 1; } 
    80% { opacity: 1; } 
    100% { opacity: 0; }
  }
}